{% extends "global/base.html" %}

{% block content %}

 <!--Formulario HTML-->
 <!--no django devemos previnir ataques csrf para evitar ataques ao forms do site-->
 <div class="form-wrapper">

    <h2>Contact</h2> <!--metodo post no html, diferente do get que preenche uma url, o post utiliza para coisas mais sensiveis, o usuario e senha n aparece na url-->
    <!--enctype="multipart/form-data" -> posso enviar arquivos, como fotos, por exemplo-->
    <!--vamos deixar o form dinamico, ele vai redenrizar views diferentes no action-->
    <form 
      action="{{ form_action }}"
      method="POST"
      enctype="multipart/form-data"
    >

    {% csrf_token %} <!--declaro uma tag do crsf token, garantindo que os dados que vão chegar na minha view, são os do formulario-->

      <div class="form-content">

        {% for field in form %} 
          <!--recebo os campos que criei no meu formulário-->
          <div class="form-group">
            <label for="{{ field.id_for_label }}"> {{field.label}} </label> <!--pego o nome dos campos coloco id na frente deles, vira o texto do label desse id-->
            {{ field }} <!--o field ja é o proprio input, n sendo necessário colocar uma tag input-->
            {{ field.errors }} <!--quando o campo tiver algum erro, exibe uma mensagem em baixo indicando erro-->
          
            {% if field.help_text %}
              <p class="help-text"> {{ field.help_text }} </p>
            {% endif %}
          </div>

          <div class="form-group">
            {% if field.name == 'picture' and field.value.url %} <!--se o campo for picture e ter url -->
              <img src="{{ field.value.url }}" alt="">
            {% endif %}
          </div>
        {% endfor %}
        
        {% if  form.non_field_errors %} <!--se algum campo do formulário qualquer campo, por ventura aparecer algum erro-->
          <div class="form-content">
            <div class="form-group">
              <div class="message error">
                {{ form.non_field_errors }}
              </div>
            </div>
          </div>
        {% endif %}

      <div class="form-content">
        <div class="form-group">
          <button class="btn" type="submit">Send</button>
        </div>
      </div>

    </form>
  </div>
{% endblock content %}